.menu{
    @include flex(row, center, center);
    position: fixed;
    background: #000;
    z-index: 10;
    top: 0;
    height: 96px;
    width: 100%;
    left: 0;

    &, a{
        color: $color-white;
    }

    nav{
        @include flex(column, flex-end, space-between);
        position: fixed;
        right: 0;
        top: 96px;
        width: 300px;
        height: calc(100% - 96px);
        background: $color-tuatara;

        @include screen-gt-xs(){
            @include flex(row, center, space-between);
            position: static;
            width: auto;        
            background: none;
        }
    }

    .manguezal-logo-small{
        position: fixed;
        left: 0;
        top: 0;
        background: url('/img/manguezal-icon.svg') no-repeat center;
        background-size: 100%;
        width: 52px;
        height: 75px;
        text-indent: -80000px;

        @include screen-gt-xs(){
            position: static;
        }
        
    }

    .menu-group{
        @include flex(column, flex-end, space-between);

        @include screen-gt-xs(){
            display: block;
        }
        a{

            margin-top: 40px;
            margin-right: 35px;
            text-transform: uppercase;

            @include screen-gt-xs(){
                margin-top: 0px;
                margin-left: 25px;
                margin-right: 0;
            }

            &:first-of-type{
                margin-left: 0;
            }
        }
    }
}

.language-switcher{
  width: 14px;
  height: 43px;
  border: 2px solid $color-white;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  color: $color-white;
  font-family: $font-nunito-bold;
  right: 70px;
  top: -40px;

  @include screen-gt-xs(){
      right: 0;
      top: 0;
  }

  .toggler{
    position: absolute;
    display: block;
    left: 1px;
    top: 1px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: none;
    background: $color-white;
  }

  .lang{
    position: absolute;
    left: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }

  .lang-en{
    bottom: 0;
  }
}



.content-home{
    height: calc(100vh - 80px);
    @include flex(row, center, center);
    margin-top: 80px;
    background: $color-spring-green;
    background: -moz-linear-gradient(top, $color-spring-green 0%, $color-java 99%);
    background: -webkit-linear-gradient(top, $color-spring-green 0%,$color-java 99%);
    background: linear-gradient(to bottom, $color-spring-green 0%,$color-java 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-spring-green', endColorstr='#{$color-java};',GradientType=0 );
}

.manguezal-logo{
    background: url('/img/logo-manguezal-icon-only.svg') no-repeat center;
    width: 200px;
    height: 300px;

    @include screen-gt-xs(){
        background: url('/img/logo-manguezal.svg') no-repeat center;
        background-size: 100%;
        width: 400px;
        height: 150px;
    }
}

.content-welcome{
    background: $color-tuatara;
    color: $color-white;
}

.content-startups{
    
    h2{
        color: $color-green-haze;
    }

    .gallery{
        margin-left: -12px;
        margin-bottom: 20px;
        @include clear();
    }
    .item{
        max-width: 259px;
        float: left;
        padding: 12px;
        height: 106px;
        overflow: hidden;
        text-align: center;
        width: 100%;

        @include screen-gt-xs(){
            width: 33.3333%;
        }

        img{
            width: auto;
            max-width: 100%;
        }
    }
}

.content-eventos{
    background: $color-green-haze;
    color: $color-white;
}

.content-newsletter{
    background: $color-black;
    color: $color-white;

    form{
        div{
            width: 100%;
            @include flex(row, center, center);
        }
        input{
            font: normal 16px $font-nunito-light;
            border: none; 
            padding: 12px;

            &[type=email]{
                width: 100%;
                margin-right: 24px;
            }

            &[type=submit]{
                text-transform: uppercase;
                color: $color-white;
                background-color: $color-green-haze;
                width: 115px;
            }
        }
    }
}

.sitefooter{
    @include flex(row, center, center);
    background: $color-tuatara;
    min-height: 80px;
    font-size: 14px;
    
    &, a{
        color: $color-white;
    }
    
    .container{
        margin: 0 0 0 48px;
        & > div{
            @include flex(row, center, flex-start);
            float: left;
            width: 25%;
            padding: 4px 32px 0;
            border-right: 1px solid $color-mine-shaft;
            min-height: 28px;
        }

        .manguezal-logo{
            background: none;
            width: 25%;
            height: auto;
            text-align: center;
            padding-left: 0;


            img{
                margin-top: 3px;
                width: 148px;
            }
        }

        .cargo-logo{
            @include flex(row, center, flex-start);
            padding-left: 32px;
            text-align: center;
            border-right: none;
        }
    }
}