.menu{
    @include flex(row, center, center);
    position: fixed;
    background: $color-black;
    z-index: 10;
    top: 0;
    height: 70px;
    width: 100%;
    left: 0;

    @include tablet-portrait(){
        height: 96px;
    }

    &, a{
        color: $color-white;
    }

    nav{
        @include flex(column, flex-end, space-between);
        @include transition();
        right: -300px;
        position: fixed;
        top: 70px;
        width: 300px;
        height: calc(100% - 70px);
        padding-bottom: 40px;
        overflow-x: hidden;
        overflow-y: auto;
        background: $color-tuatara;

        @include tablet-portrait(){
            @include transition(none);
            @include flex(row, center, space-between);
            right: 0;
            overflow: visible;
            position: static;
            width: auto;        
            padding-bottom: 0;
            background: none;
        }
    }

    .is-open{
        right: 0;
    }

    .menu-toggler {
        position: fixed;
        top: 28px;
        right: 29px;
        letter-spacing: -1000px;
        color: transparent;
        
        &:after, &:before{
            content: "";
            position: relative;
            display: block;
            width: 32px;
            height: 2px;
            background: $color-white;
        }

        &:after{
            top: -3px;
        }

        @include tablet-portrait(){
            display: none;
        }
    }

    .manguezal-logo-small{
        position: fixed;
        left: 22px;
        top: 20px;
        background: url('/img/manguezal-icon.svg') no-repeat center;
        background-size: 100%;
        width: 32px;
        height: 32px;
        text-indent: -80000px;

        @include tablet-portrait(){
            position: static;
            width: 52px;
            height: 75px;
            margin-left: 12px;
        }
        
    }

    .menu-group{
        @include flex(column, flex-end, space-between);

        @include tablet-portrait(){
            display: block;
            margin-left: -44px;
        }
        
        a{
            margin-top: 40px;
            margin-right: 35px;
            text-transform: uppercase;

            @include tablet-portrait(){
                margin-top: 0px;
                margin-left: 25px;
                margin-right: 0;
            }

            &:first-of-type{
                margin-left: 0;
            }
        }
    }
}
.language-switcher-wrapper{
    width: 50px;
    height: 50px;
    @include flex();
    @include translateX(35px);
    flex: 0;
    margin: 0 0 -50px 0;
    position: relative;

    @include tablet-portrait(){
        margin: 5px 0 0 0;
        flex: 0;
        @include translateX(-48px);
    }
}

.language-switcher{
  width: 14px;
  height: 43px;
  border: 2px solid $color-white;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  color: $color-white;
  font-family: $font-nunito-bold;
  right: 70px;
  top: -30px;
  margin-bottom: 20px;
  
  @include tablet-portrait(){
      right: 0;
      top: 0;
  }

  .toggler{
    @include transition();
    position: absolute;
    display: block;
    left: 1px;
    top: 1px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: none;
    background: $color-white;
  }

    .toggler-is-portuguese{
        top: 1px;
    }

    .toggler-is-english{
        top: 30px;
    }

  .lang{
    position: absolute;
    left: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }

  .lang-en{
    bottom: 0;
  }
}



.content-home{
    height: calc(100vh - 70px);
    @include flex(row, center, center);
    margin-top: 70px;
    background: $color-spring-green;
    background: -moz-linear-gradient(top, $color-spring-green 0%, $color-java 99%);
    background: -webkit-linear-gradient(top, $color-spring-green 0%,$color-java 99%);
    background: linear-gradient(to bottom, $color-spring-green 0%,$color-java 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-spring-green', endColorstr='#{$color-java};',GradientType=0 );

    @include tablet-portrait(){
        height: calc(100vh - 80px);
        margin-top: 80px;
    }
}

.manguezal-logo{
    background: url('/img/logo-manguezal-icon-only.svg') no-repeat center;
    width: 200px;
    height: 300px;

    @include tablet-portrait(){
        background: url('/img/logo-manguezal.svg') no-repeat center;
        background-size: 100%;
        width: 400px;
        height: 150px;
    }
}

.content-welcome{
    background: $color-tuatara;
    color: $color-white;
}

.content-startups{
    
    h2{
        color: $color-green-haze;
    }

    .gallery{
        width: calc(100% - 96px);
        margin: 0 auto 20px;
        @include clear();
        
        h2{
            margin-left: 0;
            text-align: center;
            @include tablet-portrait(){
                text-align: left;
            }
        }
    }

    .item{
        max-width: 259px;
        margin: 0 auto;
        padding: 12px;
        height: 106px;
        overflow: hidden;
        text-align: center;
        width: 100%;

        @include tablet-portrait(){
            margin: 0;
            float: left;
            width: 33.3333%;
        }

        img{
            width: auto;
            max-width: 100%;
        }
    }
}

.content-eventos{
    background: $color-green-haze;
    color: $color-white;
}

.content-newsletter{
    background: $color-black;
    color: $color-white;

    form{
        div{
            width: 100%;
            @include flex(row, center, center);
        }
        input{
            font: normal 16px $font-nunito-light;
            border: none; 
            padding: 12px;

            &[type=email]{
                width: 100%;
                margin-right: 24px;
            }

            &[type=submit]{
                text-transform: uppercase;
                color: $color-white;
                background-color: $color-green-haze;
                width: 115px;
            }
        }
    }
}

.sitefooter{
    @include flex(row, center, center);
    background: $color-tuatara;
    min-height: 80px;
    font-size: 14px;
    
    &, a{
        color: $color-white;
    }
    
    .container{
        margin: 0 0 0 48px;

        & > div{
            @include flex(row, center, flex-start);
            float: left;
            width: 25%;
            padding: 4px 28px 0;
            border-right: 1px solid $color-mine-shaft;
            min-height: 28px;
        }

        .manguezal-logo{
            background: none;
            width: 25%;
            height: auto;
            text-align: center;
            padding-left: 0;


            img{
                margin-top: 3px;
                width: 148px;
            }
        }

        .cargo-logo{
            @include flex(row, center, flex-start);
            padding-left: 32px;
            text-align: center;
            border-right: none;
        }
    }
}