.content-eventos{
    background: $color-green-haze;
    color: $color-white;
}

.content-newsletter{
    background: $color-black;
    color: $color-white;

    form{
        div{
            width: 100%;
            @include flex(row, center, center);
        }
        input, button{
            font: normal 16px $font-nunito-light;
            border: none; 
            padding: 12px;

            &[type=email]{
                width: 100%;
                margin-right: 24px;
            }

        }
        button{
            text-transform: uppercase;
            color: $color-white;
            background-color: $color-green-haze;
            width: 115px;
        }
    }
}