
.sitefooter{
    @include flex(row, center, center);
    background: $color-tuatara;
    min-height: 80px;
    font-size: 14px;
    
    &, a{
        color: $color-white;
    }
    
    .container{
        margin: 0 0 0 48px;

        & > div{
            @include flex(row, center, flex-start);
            float: none;
            width: 100%;
            min-height: 28px;
            margin: 10px auto;
            text-align: center;
            max-width: 200px;
            @include tablet-portrait(){
                padding: 4px 28px 0;
                float: left;
                width: 25%;
                border-right: 1px solid $color-mine-shaft;
            }
        }

        .manguezal-logo{
            background: none;
            height: auto;
            text-align: center;
            padding-left: 0;
            width: 100%;

            img{
                margin-top: 3px;
                width: 148px;
            }

            @include tablet-portrait(){
                width: 25%;
            }
        }

        .cargo-logo{
            @include flex(row, center, flex-start);
            padding-left: 32px;
            text-align: center;
            border-right: none;
        }
    }
}