.content-home{
    height: calc(100vh - 70px);
    @include flex(row, center, center);
    margin-top: 70px;
    background: $color-spring-green;
    background: -moz-linear-gradient(top, $color-spring-green 0%, $color-java 99%);
    background: -webkit-linear-gradient(top, $color-spring-green 0%,$color-java 99%);
    background: linear-gradient(to bottom, $color-spring-green 0%,$color-java 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-spring-green', endColorstr='#{$color-java};',GradientType=0 );

    @include tablet-portrait(){
        height: calc(100vh - 80px);
        margin-top: 80px;
    }
}

.manguezal-logo{
    background: url('/img/logo-manguezal-icon-only.svg') no-repeat center;
    width: 200px;
    height: 300px;

    @include tablet-portrait(){
        background: url('/img/logo-manguezal.svg') no-repeat center;
        background-size: 100%;
        width: 400px;
        height: 150px;
    }
}
